body {

    margin: 20px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}